.gradle
/.idea
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/build/intermediates/dex-cache
local.properties

*.iml
import-summary.txt

/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp